.rdrDefinedRangesWrapper {
  display: none !important;
}

.MuiToolbar-root .MuiToolbar-gutters .MuiToolbar-regular {
  display: none;
}

.rdrDefinedRangesWrapper2 {
  font-size: 12px;
  width: 226px;
  border-right: 1px solid #eff2f7;
  background: #fff;
}

.MuiTableCell-head div {
  font-family: "Helvetica-NeueL-Title"!important;
  /* color: #334d6e!important; */
  font-size: 13px!important;
  opacity: .5!important;
  font-weight: 500!important;
  width: max-content;
}

.tables > div > .MuiTable-root {
  background: #0D0D0D !important;
}

.tables > div > .MuiTable-root button {
    color: white;
}

.tables > div > .MuiTable-root div {
  color: white;
}

.tables > div > .MuiTable-root svg {
  color: white;
}

.MuiAccordionDetails-root {
  border: none !important;
  padding: 5px 0 0 0 !important;
}

.dropdown-toggle-icon {
  /* background-color: #fff!important; */
  height: 31px;
  width: 30px;
  border: 0.4px solid #d1d1d1!important;
  border-radius: 5px!important;
  box-sizing: border-box;
}

.dropdown-toggle-icon::after {
  content: none !important;
}

.MuiAccordion-root {
  border: 0 !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15) !important;
}

/* .MuiAccordionSummary-root {
  background-color: #fff !important;
} */

.box-shadow {
  border-radius: 4px;
  box-shadow: 0 6px 18px rgb(0 0 0 / 6%);
}

span.MuiButtonBase-root .MuiTableSortLabel-root {
  width: max-content !important;
}

.MuiToolbar-gutters {
  min-height: 4px!important;
}

.backgroundTotal {
  background: #d5eafe;
  display: none !important;
}

.backgroundTotal th {
  font-family: 'Helvetica-NeueL-Title' !important;
}

.backgroundTotalDark {
  background: #0D0D0D;
  display: none !important;
}

.backgroundTotal:nth-child(1) {
  background: #d5eafe;
  display: table-row !important;
}

.backgroundTotalDark:nth-child(1) {
  background: #0D0D0D;
  display: table-row !important;
}

tr.backgroundTotal th:nth-child(n+2) {
  text-align: center;
  padding-left: 0px !important;
}

.table-funnel tr th:nth-child(n+2) {
  text-align: center;
  padding-left: 25px;
}

.backgroundTotal td {
  color: rgba(0, 0, 0, 0.87);
}

.backgroundTotalDark td {
  color: #DDDDDD;
}

.MuiMenu-list {
  display: grid;
  padding: 20px !important;
}

.MuiMenu-list > li {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
}

.MuiListItemText-primary {
  font-family: 'Helvetica-NeueL-Title' !important;
  font-size: 14px !important;
}

.MuiMenu-list > li > span > svg {
  height: 20px;
}

.check-toggle-graphic {
  display: flex;
}

.check-toggle-graphic > span > svg {
  height: 20px;
}

.MuiTableRow-head  > .MuiTableCell-paddingNone:first-of-type {
  display: none;
}

.MuiTableRow-hover > .MuiTableCell-paddingNone:first-of-type {
  display: none;
}

.font-Title-Helvetica {
  font-family: "Helvetica-NeueL-Title" !important;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-paddingNone {
  background: #e5e2e24a;
}

/* .MuiTableCell-paddingNone {
  display: none !important;
}

MuiTableCell-root MuiTableCell-body MuiTableCell-paddingNone */

.DateRangePickerTheme .rdrDateRangeWrapper {
  background-color: #0D0D0D;
}

.DateRangePickerTheme .rdrDateDisplayWrapper {
  background-color: #0D0D0D;
}

.DateRangePickerTheme .rdrDateRangeWrapper .rdrDayNumber span {
  color: white;
}

.DateRangePickerTheme .rdrDateRangeWrapper .rdrDateInput input {
  background-color: #0D0D0D !important;
}

.DateRangePickerTheme .rdrPprevButton {
  background-color: #0D0D0D;
  border: 1px solid grey;
}

.DateRangePickerTheme .rdrNextButton {
  background-color: #0D0D0D;
  border: 1px solid grey;
}

.DateRangePickerTheme .rdrPprevButton i {
  border-color: transparent rgb(23 111 200) transparent transparent;
}

.DateRangePickerTheme .rdrNextButton i {
  border-color: transparent transparent transparent rgb(23 111 200);
}

.backMenuItem {
  color: #3998ff !important;
  background-color: #161616 !important;
}

.calendar-title {
  font-family: "Helvetica-NeueL-Title";
  font-size: 16px;
}

.MuiTableSortLabel-root:hover {
  color: rgb(111, 108, 153) !important;
}