.MuiSwitch-root.MuiSwitch-sizeMedium {
  padding-left: 0.5rem!important;
}

.Mui-checked + .MuiSwitch-track {
  background-color: #2fca45!important;
}

.MuiSwitch-thumb {
  width: 12px!important;
  height: 12px!important;
  background: #fff!important;
  margin-top: 6px;
  margin-left: 3px;
}

.MuiSwitch-track {
  height: 18px!important;
  background-color: #adb5bd!important;
  opacity: inherit!important;
  border-radius: 50px!important;
}



.cursor-noDrop {
  cursor: no-drop;
}

.return-select {
  top: 116px !important;
  right: 9vw !important;
  position: absolute !important;
  border-radius: 38px !important;
  border: 2px solid rgb(1, 156, 224) !important;
  height: 36px !important;
  width: 38px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
}

.return-select:hover {
border: none !important
}