/* Botones toggle con el verde */

/* .MuiSwitch-root.MuiSwitch-sizeMedium {
  padding-left: 0.5rem!important;
}

.Mui-checked + .MuiSwitch-track {
  background-color: #2fca45!important;
}

.MuiSwitch-thumb {
  width: 12px!important;
  height: 12px!important;
  background: #fff!important;
  margin-top: 6px;
  margin-left: 3px;
}

.MuiSwitch-track {
  height: 18px!important;
  background-color: #adb5bd!important;
  opacity: inherit!important;
  border-radius: 50px!important;
} */



.cursor-noDrop {
  cursor: no-drop;
}

.return-select {
  top: 116px !important;
  right: 9vw !important;
  position: absolute !important;
  border-radius: 38px !important;
  border: 2px solid rgb(1, 156, 224) !important;
  height: 36px !important;
  width: 38px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
}

.return-select:hover {
border: none !important
}


/* .ingresos-rastreados {
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgb(226 236 249 / 50%);
  border-radius: 30px;
  height: 151px;
  align-items: center;
} */

.ingresos-rastreados > .col-sm-8 > span:nth-child(1) { 
  color: #192A3E;
  font-size: 25px;
  font-weight: 700;
  fontFamily: "Helvetica-NeueL-Title",
}

.ingresos-rastreados > .col-sm-8 > span:nth-child(3) { 
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2BB596;
}

.ingresos-rastreados > .col-sm-8 > span:nth-child(4) { 
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #192A3E;
}

.ingresos-rastreados > .col-sm-4  { 
  text-align: right;
}

.ingresos-rastreados > .col-sm-4 > span:nth-child(1) { 
  color: #2BB596;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  fontFamily: "Helvetica-NeueL-Title",
}

.ingresos-rastreados > .col-sm-4 > span:nth-child(3) {  
  color: #2BB596;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
}