.dropdown-toggle-icon {
  /* background-color: #fff!important; */
  height: 31px;
  width: 30px;
  border: 0.4px solid #d1d1d1 !important;
  border-radius: 5px !important;
  box-sizing: border-box;
}

.dropdown-toggle-icon::after {
  content: none !important;
}

/* .MuiTableRow-root {
  z-index: 0 !important;
  position: sticky;
} */

.filter-scroll {
  height: auto;
  max-height: 300px;
  /* width: max-content; */
  overflow: auto;
  display: block !important;
}

/* lo teniamos comentado, no se sabe si afectaba otras etiquetas */
.column-container {
  height: 30px;
  width: auto;
  margin: 10px;
  padding: 4px 10px 0 10px;
  color: rgb(16, 156, 241);
  background: rgb(243, 250, 254);
  border-radius: 5px;
  font-size: 13px;
  font-family: "Helvetica-NeueL-Title";
  white-space: nowrap;
}

.column-container>label {
  margin-left: 8px;
}

.hidden-last-cell .column-container:last-child {
  display: none;
}

.column-container>span>svg {
  color: #109cf1 !important;
  height: 16px;
}

.column-container>span {
  padding: 0px;
}

.dropdown-menu {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px !important;
}

[data-react-beautiful-dnd-drag-handle="1"] {
  width: max-content;
}

.tables>div>.MuiTable-root {
  background: #0D0D0D !important;
}

.tables>div>.MuiTable-root button {
  color: white;
}

.tables>div>.MuiTable-root div {
  color: white;
}

.tables>div>.MuiTable-root svg {
  color: white;
}

.div-button-video {
  width: 30px;
  height: 30px;
  /* border: 0.5px solid #000; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-video-integration {
  position: absolute;
  top: 1.4vh;
  right: 1.7vw;
}

.btn-export-excel {
  height: 30px;
  font-size: 11px;
  font-family: 'Helvetica-NeueL-Title';
  /* border: 0.5px solid #575353; */
  display: flex;
  align-items: center;
}

.btn-export-excel img {
  padding-left: 5px;
}