.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fafbfe;
}

.modoDark, .modoDark:-webkit-autofill,
.modoDark:-webkit-autofill:hover, 
.modoDark:-webkit-autofill:focus, 
.modoDark:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #0D0D0D;
}

.modoDarkSelect > div > div > input {
  -webkit-text-fill-color: #fff !important;
}

.date-width > div > div > input {
  font-family: 'Helvetica-NeueL';
  margin-left: 15px;
  font-size: 13px;
  padding: 10px 0;
}

.modoDarkInput {
  background-color: rgb(13 13 13);
  -webkit-text-fill-color: #ffffff;
}

.modoDarkInputTitle {
  color: #6b6b6b;
}

.modoDarkSelect {
  height: 38px !important;
  opacity: initial !important;
  border: 1px solid #fff !important;
  color: #757575 !important;
  background: #0d0d0d;
}

.modoDarkSelect > div > div > div > button > svg {
  fill: dimgrey !important;
}

.modeDarkSelectAttribute > div > div {
  background: #0d0d0d;
}

.form-control-exception {
  font-size: 13px !important;
  font-family: "Helvetica-NeueL" !important;
  height: calc(2.25rem + 2px) !important;
  padding: 0.45rem 0.9rem !important;
}

.modoDarkSwitch > span > span:nth-child(2) {
  background: #767676 !important;
}

.modoDarkFooterTerminosPoliticas {
  background-color: #0D0D0D;
  color: #333;
}