@font-face {
  font-family: 'Helvetica-NeueL';
  src: url('./assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Helvetica-NeueL-Title';
  src: url('./assets/fonts/Poppins-Medium.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiBox-root {
  border-bottom: 0px !important;
}

.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  font-family: 'Helvetica-NeueL-Title';
  text-transform: capitalize!important;
  color: #C1D2E6!important;
  font-weight: 700!important;
  line-height: 18px;
}

.MuiTab-root.MuiTab-textColorPrimary {
  color: #939393!important;
  font-size: 15px;
  font-weight: 400!important;
  line-height: 17px;
  letter-spacing: .5px;
  font-style: normal;
  font-family: 'Helvetica-NeueL-Title';
  text-transform: capitalize!important;
}

.activeSlider {
  color: #3997FF !important;
}